html {cursor:none;}

body {
padding: 2px 0px;
overflow:hidden;
}

div.container {
background: #eee;
padding: 0px;
width:470px;
height: 266px;

}

span#weather_temp {
font-weight: bold;
font-size: 28pt;
}

.xdsoft_flipcountdown {width: 100%; margin: 0 auto;}

h3 {margin-top: 10px;
margin-bottom: 3px;}

